<form
  class="form-horizontal"
  autocomplete="off"
  #createCityForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewCity' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="CityName">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="CityName"
          id="CityName"
          maxlength="64"
          required
          pattern="^[a-zA-Z ]+$"
          [(ngModel)]="city.name"
          #cityNameModel="ngModel"
          #cityNameEl
        />
        <div *ngIf="cityNameModel.invalid && cityNameModel.touched" class="text-danger">
          <div *ngIf="cityNameModel.errors?.pattern">Only alphabets and spaces are allowed.</div>
        </div>
        <abp-validation-summary
          [control]="cityNameModel"
          [controlEl]="cityNameEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="CityState">
          {{ 'State' | localize }}
        </label>
        <div class="col-md-9">
          <select
            class="form-control"
            id="CityState"
            name="CityState"
            required
            [(ngModel)]="city.stateId"
            #cityStateModel="ngModel"
            #cityStateEl
          >
          <option [ngValue]="undefined" disabled>Select State</option>
            <option *ngFor="let state of states" [value]="state.id">
              {{ state.name }}
            </option>
          </select>
          <abp-validation-summary
            [control]="cityStateModel"
            [controlEl]="cityStateEl"
          ></abp-validation-summary>
        </div>
      </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createCityForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>




