<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Addmissions" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="createAddmission()">
            <i class="fa fa-plus-square"></i>
            {{ "Create" | localize }}
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="activeTab === 'list'"
        (click)="activeTab = 'list'"
        href="javascript:void(0);"
      >
        List
      </a>
    </li>
        <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="activeTab === 'dashboard'"
        (click)="activeTab = 'dashboard'"
        href="javascript:void(0);"
      >
        Dashboard
      </a>
    </li>
  </ul>

  <section class="content px-2">
    <div class="container-fluid">
      <!-- Dashboard tab content -->
      <div *ngIf="activeTab === 'dashboard'">
        <!-- You can put dashboard content or charts here -->
           <div *ngIf="dashboards[0]?.lowAvailabilityAlert" class="alert alert-warning mt-3" role="alert">
        ⚠️ Warning: Bed availability is critically low! Only {{dashboards[0]?.availableBeds}} out of {{dashboards[0]?.totalBeds}} beds are available.
      </div>
        <div class="card mt-3">
          <div class="card-body">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Total Beds</th>
                  <th>Availableb Beds</th>
                  <th>Occupied Beds</th>
                  <th>Admit Patients</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dashboard of dashboards">
                  <td>{{dashboard.totalBeds}}</td>
                  <td>{{dashboard.availableBeds}}</td>
                  <td>{{dashboard.occupiedBeds}}</td>
                  <td>{{dashboard.currentAdmittedPatients}}</td>
                </tr>
              </tbody>
            </table>
          <div class="chart-section">
          <h2>Total Admissions vs Discharges</h2>
          <canvas
            baseChart
                [data]="pieChartData"
              [labels]="pieChartLabels"
             [options]="pieChartOptions"
              [chartType]="pieChartType">
            </canvas>
            </div>
          </div>
        </div>
      </div>

      <!-- List tab content -->
      <div *ngIf="activeTab === 'list'">
        <div class="card mt-3">
          <!-- Search and Filters -->
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">&emsp;</div>
              <div class="col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      type="button"
                      class="btn bg-blue"
                      (click)="getDataPage(1)"
                    >
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    name="keyword"
                    [placeholder]="'SearchWithThreeDot' | localize"
                    [(ngModel)]="keyword"
                    (keyup.enter)="getDataPage(1)"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn btn-default"
                      (click)="advancedFiltersVisible = !advancedFiltersVisible"
                    >
                      <i
                        class="fas"
                        [class.fa-angle-up]="advancedFiltersVisible"
                        [class.fa-angle-down]="!advancedFiltersVisible"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Advanced Filters -->
            <div *ngIf="advancedFiltersVisible" class="card mb-0 mt-2">
              <div class="card-body">
                <form class="form-horizontal">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row mb-0">
                        <label class="col-md-3 col-form-label">{{
                          "IsActive" | localize
                        }}</label>
                        <div class="col-md-9 pt-2">
                          <div class="custom-control custom-radio d-inline">
                            <input
                              type="radio"
                              class="custom-control-input"
                              id="isActiveAll"
                              name="isActive"
                              [(ngModel)]="isActive"
                              [value]="undefined"
                            />
                            <label
                              class="custom-control-label"
                              for="isActiveAll"
                              >{{ "All" | localize }}</label
                            >
                          </div>
                          <div class="custom-control custom-radio d-inline mx-3">
                            <input
                              type="radio"
                              class="custom-control-input"
                              id="isActiveTrue"
                              name="isActive"
                              [(ngModel)]="isActive"
                              [value]="true"
                            />
                            <label
                              class="custom-control-label"
                              for="isActiveTrue"
                              >{{ "Yes" | localize }}</label
                            >
                          </div>
                          <div class="custom-control custom-radio d-inline">
                            <input
                              type="radio"
                              class="custom-control-input"
                              id="isActiveFalse"
                              name="isActive"
                              [(ngModel)]="isActive"
                              [value]="false"
                            />
                            <label
                              class="custom-control-label"
                              for="isActiveFalse"
                              >{{ "No" | localize }}</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <button
                  type="button"
                  class="btn bg-blue"
                  (click)="getDataPage(1)"
                >
                  {{ "Search" | localize }}
                </button>
                <button
                  type="button"
                  class="btn btn-default float-right"
                  (click)="clearFilters()"
                >
                  {{ "Clear" | localize }}
                </button>
              </div>
            </div>
          </div>

          <!-- Table -->
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-striped table-bordered"
                [busy]="isTableLoading"
              >
                <thead class="bg-light">
                  <tr>
                    <th (click)="changeSorting('name')" style="cursor: pointer">
                      {{ "Patient" | localize }}
                      <i
                        class="ml-1 fas"
                        [ngClass]="{
                          'fa-arrow-up text-primary': sorting === 'name asc',
                          'fa-arrow-down text-primary': sorting === 'name desc',
                          'fa-sort text-muted':
                            sorting !== 'name asc' && sorting !== 'name desc'
                        }"
                      ></i>
                    </th>
                    <th (click)="changeSorting('name')" style="cursor: pointer">
                      {{ "Bed Number" | localize }}
                      <i
                        class="ml-1 fas"
                        [ngClass]="{
                          'fa-arrow-up text-primary': sorting === 'name asc',
                          'fa-arrow-down text-primary': sorting === 'name desc',
                          'fa-sort text-muted':
                            sorting !== 'name asc' && sorting !== 'name desc'
                        }"
                      ></i>
                    </th>
                    <th (click)="changeSorting('gender')" style="cursor: pointer">
                      {{ "Admit Date" | localize }}
                      <i
                        class="ml-1 fas"
                        [ngClass]="{
                          'fa-arrow-up text-primary': sorting === 'name asc',
                          'fa-arrow-down text-primary': sorting === 'name desc',
                          'fa-sort text-muted':
                            sorting !== 'name asc' && sorting !== 'name desc'
                        }"
                      ></i>
                    </th>
                    <th (click)="changeSorting('name')" style="cursor: pointer">
                      {{ "Discharge Date" | localize }}
                      <i
                        class="ml-1 fas"
                        [ngClass]="{
                          'fa-arrow-up text-primary': sorting === 'name asc',
                          'fa-arrow-down text-primary': sorting === 'name desc',
                          'fa-sort text-muted':
                            sorting !== 'name asc' && sorting !== 'name desc'
                        }"
                      ></i>
                    </th>
                    <th (click)="changeSorting('name')" style="cursor: pointer">
                      {{ "Notes" | localize }}
                      <i
                        class="ml-1 fas"
                        [ngClass]="{
                          'fa-arrow-up text-primary': sorting === 'name asc',
                          'fa-arrow-down text-primary': sorting === 'name desc',
                          'fa-sort text-muted':
                            sorting !== 'name asc' && sorting !== 'name desc'
                        }"
                      ></i>
                    </th>
                    <th style="width: 310px">{{ "Actions" | localize }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let addmission of addmissions | paginate : {
                      id: 'server',
                      itemsPerPage: pageSize,
                      currentPage: pageNumber,
                      totalItems: totalItems
                    }"
                  >
                    <td>{{ addmission.patientName }}</td>
                    <td>{{ addmission.bedNumber }}</td>
                    <td>{{ addmission.admitDate | date: "dd-MM-yyyy" }}</td>
                    <td>{{ addmission.dischargeDate | date: "dd-MM-yyyy" }}</td>
                    <td>{{ addmission.notes }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-sm bg-secondary"
                        (click)="editAddmission(addmission)"
                      >
                        <i class="fas fa-pencil-alt"></i> {{ "Edit" | localize }}
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm bg-danger mx-2"
                        (click)="delete(addmission)"
                      >
                        <i class="fas fa-trash"></i> {{ "Delete" | localize }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Footer -->
          <div class="card-footer table-card-footer bg-light border-top">
            <div class="row">
              <div class="col-sm-4 col-12 text-sm-left text-center">
                <button class="btn btn-secondary" (click)="refresh()">
                  <i class="fas fa-redo-alt"></i>
                </button>
              </div>
              <div class="col-sm-4 col-12 text-center">
                <p class="mb-0 my-2">
                  {{ "TotalRecordsCount" | localize : totalItems }}
                </p>
              </div>
              <div class="col-sm-4 col-12">
                <div class="float-sm-right m-auto">
                  <abp-pagination-controls
                    id="server"
                    (pageChange)="getDataPage($event)"
                  ></abp-pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
