<form
  class="form-horizontal"
  autocomplete="off"
  #editCountryForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'editCountry' | localize"
    (onCloseClick)="bsModelRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="CountryName">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="CountryName"
          id="CountryName"
          maxlength="64"
          required
          pattern="^[a-zA-Z ]+$"
          [(ngModel)]="country.name"
          #countryNameModel="ngModel"
          #countryNameEl
        />
        <div *ngIf="countryNameModel.invalid && countryNameModel.touched" class="text-danger">
          <div *ngIf="countryNameModel.errors?.pattern">Only alphabets and spaces are allowed.</div>
        </div>
        <abp-validation-summary
          [control]="countryNameModel"
          [controlEl]="countryNameEl"
        ></abp-validation-summary>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editCountryForm.form.valid || saving"
    (onCancelClick)="bsModelRef.hide()"
  ></abp-modal-footer>
</form>





